In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
fraud_train = pd.read_csv("data/fraudTrain.csv", index_col=0)

c:\Users\Shane\AppData\Local\pypoetry\Cache\virtualenvs\votist-25GNkSt6-py3.8\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
fraud_train.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [6]:
dropped_fraud_train = fraud_train.drop(columns=["trans_date_trans_time", "cc_num", "merchant", "first", "last", "gender", "street", "zip", "city_pop", "trans_num", "unix_time"])

In [7]:
dropped_fraud_train.head()

,category,amt,city,state,lat,long,job,dob,merch_lat,merch_long,is_fraud
0,misc_net,4.97,Moravian Falls,NC,36.0788,-81.1781,"Psychologist, counselling",1988-03-09,36.011293,-82.048315,0
1,grocery_pos,107.23,Orient,WA,48.8878,-118.2105,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0
2,entertainment,220.11,Malad City,ID,42.1808,-112.2620,Nature conservation officer,1962-01-19,43.150704,-112.154481,0
3,gas_transport,45.00,Boulder,MT,46.2306,-112.1138,Patent attorney,1967-01-12,47.034331,-112.561071,0
4,misc_pos,41.96,Doe Hill,VA,38.4207,-79.4629,Dance movement psychotherapist,1986-03-28,38.674999,-78.632459,0

In [8]:
def calculate_age(born):
    from datetime import datetime, date
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [9]:
dropped_fraud_train["age"] = dropped_fraud_train['dob'].apply(calculate_age)
dropped_fraud_train = dropped_fraud_train.drop(columns=["dob"])

In [10]:
dropped_fraud_train.head()

,category,amt,city,state,lat,long,job,merch_lat,merch_long,is_fraud,age
0,misc_net,4.97,Moravian Falls,NC,36.0788,-81.1781,"Psychologist, counselling",36.011293,-82.048315,0,33
1,grocery_pos,107.23,Orient,WA,48.8878,-118.2105,Special educational needs teacher,49.159047,-118.186462,0,42
2,entertainment,220.11,Malad City,ID,42.1808,-112.2620,Nature conservation officer,43.150704,-112.154481,0,59
3,gas_transport,45.00,Boulder,MT,46.2306,-112.1138,Patent attorney,47.034331,-112.561071,0,54
4,misc_pos,41.96,Doe Hill,VA,38.4207,-79.4629,Dance movement psychotherapist,38.674999,-78.632459,0,35

In [11]:
dropped_fraud_train["job"].value_counts()

Film/video editor             9779
Exhibition designer           9199
Naval architect               8684
Surveyor, land/geomatics      8680
Materials engineer            8270
                              ...
Veterinary surgeon               8
Information officer              8
Contracting civil engineer       7
Ship broker                      7
Warehouse manager                7
Name: job, Length: 494, dtype: int64

In [12]:
dropped_fraud_train=dropped_fraud_train.drop(columns=["job", "city", "state"])

In [13]:
dropped_fraud_train.head()

,category,amt,lat,long,merch_lat,merch_long,is_fraud,age
0,misc_net,4.97,36.0788,-81.1781,36.011293,-82.048315,0,33
1,grocery_pos,107.23,48.8878,-118.2105,49.159047,-118.186462,0,42
2,entertainment,220.11,42.1808,-112.2620,43.150704,-112.154481,0,59
3,gas_transport,45.00,46.2306,-112.1138,47.034331,-112.561071,0,54
4,misc_pos,41.96,38.4207,-79.4629,38.674999,-78.632459,0,35

In [14]:
dropped_fraud_train["category"].value_counts()

gas_transport     131659
grocery_pos       123638
home              123115
shopping_pos      116672
kids_pets         113035
shopping_net       97543
entertainment      94014
food_dining        91461
personal_care      90758
health_fitness     85879
misc_pos           79655
misc_net           63287
grocery_net        45452
travel             40507
Name: category, dtype: int64

In [15]:
x = pd.get_dummies(dropped_fraud_train.category, prefix='category')
dropped_fraud_train_x = dropped_fraud_train
dropped_fraud_train_x = dropped_fraud_train_x.join(x)
dropped_fraud_train_x = dropped_fraud_train_x.drop(columns=["category"])

,amt,lat,long,merch_lat,merch_long,is_fraud,age,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,4.97,36.0788,-81.1781,36.011293,-82.048315,0,33,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,107.23,48.8878,-118.2105,49.159047,-118.186462,0,42,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,220.11,42.1808,-112.2620,43.150704,-112.154481,0,59,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,45.00,46.2306,-112.1138,47.034331,-112.561071,0,54,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,41.96,38.4207,-79.4629,38.674999,-78.632459,0,35,0,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,15.56,37.7175,-112.4777,36.841266,-111.690765,0,59,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1296671,51.70,39.2667,-77.5101,38.906881,-78.246528,0,41,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1296672,105.93,32.9396,-105.8189,33.619513,-105.130529,0,53,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1296673,74.90,43.3526,-102.5411,42.788940,-103.241160,0,40,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1296674,4.30,45.8433,-113.8748,46.565983,-114.186110,0,25,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
dropped_fraud_train_x.head()

,amt,lat,long,merch_lat,merch_long,is_fraud,age,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,4.97,36.0788,-81.1781,36.011293,-82.048315,0,33,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,107.23,48.8878,-118.2105,49.159047,-118.186462,0,42,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,220.11,42.1808,-112.2620,43.150704,-112.154481,0,59,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,45.00,46.2306,-112.1138,47.034331,-112.561071,0,54,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,41.96,38.4207,-79.4629,38.674999,-78.632459,0,35,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(dropped_fraud_train_x.drop(['is_fraud'],axis='columns'), dropped_fraud_train_x.is_fraud, test_size=0.2)

In [20]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, Y_train)

RandomForestClassifier()

In [21]:
model.score(X_test, Y_test)

0.997312356604392

In [22]:
y_predicted = model.predict(X_test)

In [30]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
print(confusion_matrix(Y_test, y_predicted))
print(classification_report(Y_test, y_predicted))
print(accuracy_score(Y_test, y_predicted))

[[257653    195]
 [   502    985]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    257848
           1       0.83      0.66      0.74      1487

    accuracy                           1.00    259335
   macro avg       0.92      0.83      0.87    259335
weighted avg       1.00      1.00      1.00    259335

0.997312356604392

In [31]:
import joblib

In [32]:
joblib.dump(model, 'model.joblib')

['model.joblib']